@import "src/styles.scss";
.main-wrapper{
  display: flex;
  flex-direction: column;
  height: calc(100% - 140px);
  justify-content: space-between;
}
.header1 {
  height: 70px;
  background-color: $blue;
  font-size: 26px;
  color: white;
  padding-left: 15%;
  display: flex;
  align-items: center;
  font-family: Jamrul, fantasy;
}
.header2 {
  height: 70px;
  background-color: $ghost-white;
  font-size: 26px;
  padding-left: 15%;
  display: flex;
  align-items: center;
  font-family: Jamrul, fantasy;
  margin-bottom: 50px;
  gap: 10px;
}
.timer{
  padding-left: 20px;
  font-family: "Droid Serif";
}
.interval-form-field{
  max-height: 70px;
}
