h3, p{
  margin-bottom: 0;
}
.files-header{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.files-row{
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table{
  width: 250px;
}
